*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

:root{
    --C50: #fff1f1;
    --C100: #ffe0e1;
    --C700: #c70e12;
    --C900: #4a0506;
    --NegroDark: #201e1f;
    --Negro: #292929;


   --Radio: 2rem;
   --RadioInner: 1rem;
   --Paddingo: 0.6rem;
}
body{
    background-color: var(--NegroDark) !important;
    /* font-family: 'Cabinet Grotesk', sans-serif !important; */
    font-family: 'Quicksand', sans-serif !important;
    color: var(--C700);
}

h4{
    font-size: clamp(1rem, 0.5rem + 1.5vw, 2rem);
    font-weight: 600; 
    margin: 0;
}
h5{
    font-size: clamp(1rem, 0.5rem + 1.5vw, 1.5rem);
    font-weight: 600;
    margin: 0;
}
a{
    font-size: clamp(1rem, 0.5rem + 1.5vw, 1.5rem);
    font-weight: 600;
    margin: 0;
}
p{
    font-size: clamp(0.8rem, 0.5rem + 1.5vw, 1rem);
    margin: 0;
}

small{
    font-size: clamp(0.5rem, 0.5rem + 1vw, 0.8rem);
    font-weight: 400;
    margin: 0;
}
.icon--font{
    font-size: clamp(0.5rem, 0.5rem + 1.5vw, 2rem);
}
.second--text{
    color: var(--C900);
}
/* .icon--font > *{
    font-size: clamp(0.5rem, 0.5rem + 5vw, 1rem);
} */

.d-flexx{
    display: flex;
    justify-content: center;
    align-items: center;
}
    .d-col{
        flex-flow: column wrap;
    }
    .d-row{
        flex-flow: row wrap;
    }
.genSize{
    width: 100%;
    height: 100%;
}
.genIMG{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



.general--container{
    width: 100%;
    height: 100vh;
    padding: 1.5rem;
    overflow: hidden;
}

.general--section--container{
    height: 100%;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
}
    
    .card--item{
        background-color: var(--C50);
        padding: var(--Paddingo);
        overflow: hidden;
        border-radius: var(--Radio);
        
    }
        .card-01{
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            background-color: transparent;
            align-content: space-between;
            overflow: visible;
        }   
            .count-start--item{
                width: 100%;
                height: 45%;
                overflow: hidden;
                gap: var(--Paddingo);
            }
                .separete--counter{
                    height: 100%;
                    padding: calc(var(--Paddingo) + 0.5rem);
                    border-radius: var(--Radio);
                    justify-content: space-between;
                    flex-grow: 1;
                    background-color: var(--C700);
                    color: var(--C100);
                }
                    .separete--counter > *{
                        width: 100%;
                        line-height: 1cap;
                    }
                    .separete--counter > small{
                        text-align: end;
                    }
                    .top--count-start{
                        justify-content: space-between;
                    }
                    .bottom--count-start{
                        padding: calc(var(--Paddingo) + 0.5rem);
                        border-radius: var(--Radio);
                        background-color: var(--C700);
                        color: var(--C100);
                        justify-content: start;
                        align-items: end;
                        gap: 0.5rem;
                    }
                        .bottom--count-start > *{
                            line-height: 1cap;
                        }
        .card-02{
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
        .card-03{
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
           

            .date--card--item{
                width: 100%;
                overflow: hidden;
                height: 50%;
                justify-content: space-evenly;
            }
                .circle--date{
                    height: 90%;
                    aspect-ratio: 1/1;
                    background-color: var(--C100);
                    color: var(--C700);
                    overflow: hidden;
                }
            .bottom--date--card > *{
                margin: 0;
                text-align: center;
            }
        .card--info{
            padding: 0;
            position: relative;
            justify-content: end;
            background-color: var(--NegroDark);
        }
            .info--img{
                position: absolute;

            }
            .blur--info--container{
                padding: var(--Paddingo);
                aspect-ratio: 7/2;
                width: 100%;
                position: relative;
                overflow: hidden;
                justify-content: space-evenly;
                align-items: baseline;
                background-color: var(--C700);
                color: var(--C100);
                border-radius: 0rem !important;
                border-top-right-radius: var(--Radio)!important;
                border-top-left-radius: var(--Radio)!important;
            }
                .blur--info--container > i{
                    line-height: 1cap;
                }
        .card-04{
            grid-column: 3 / 4;
            grid-row: 1 / 2;            
        }

        .card-041{
            grid-column: 4 / 5;
            grid-row: 1 / 2;
            padding: 0;
            overflow: hidden;
            justify-content: space-between;
        }
            .item--hours{
                width: 100%;
                overflow: hidden;
                color: var(--C100);
                padding: var(--Paddingo);
                gap: var(--Paddingo);
            }
                .top--hours{
                    aspect-ratio: 7/2;
                    width: 100%;
                    background-color: var(--C700);
                    text-transform: capitalize;
                    border-radius: 0rem !important;
                    border-bottom-right-radius: var(--Radio)!important;
                    border-bottom-left-radius: var(--Radio)!important;
                }
                    .horas--container{
                        margin-right: auto;
                    }
                .bottom--hours{
                    height: 70%;
                    align-items: end;
                }
                    .day_week{
                        text-transform: capitalize;
                    }
                    .week--item{
                        height: 80%;
                        aspect-ratio: 1/2;
                        border-radius: var(--Radio);
                        padding: var(--Paddingo);
                        overflow: hidden;
                        justify-content: space-between;
                        background-color: transparent;
                        color: var(--C700);
                        border: solid 1px var(--C700);
                    }
                        .num_week{
                            border-radius: 50%;
                            aspect-ratio: 1/1;
                            width: 100%;
                            background-color: var(--C100);
                            color: var(--C700);
                        }
                        .week--item--active{
                            height: 100%;
                            background-color: var(--C700);
                            color: var(--C100);
                        }
                            .week--item--active > .num_week{
                                background-color: var(--C100);
                                color: var(--C700);
                            }
   
        .card-042{
            grid-column: 3 / 4;
            grid-row: 2 / 3;
            background-color: var(--C50);
        }
        .card-043{
            grid-column: 4 / 5;
            grid-row: 2 / 3;
            background-color: var(--Negro);
        }

        .card-05{
            grid-column: 2 / 3;
            grid-row: 3 / 5;
        }
        .card-06{
            grid-column: 1/ 2;
            grid-row: 3 / 4;
        }
                
        .card-07{
            grid-column: 1/ 2;
            grid-row: 4 / 5;
        }

        .card-08{
            grid-column: 3 / 4;
            grid-row: 3 / 4;

        }
            .circle--container{
                position: relative;
            }
            .absolute--pos {
                position: absolute;
                transform: translate(-50%,-50%);
                top: 50%;
                left: 50%;
            }
                .circle--container>svg {
                    width: 100%;
                    aspect-ratio: 1/1;
                }
                .dias--restatntes{
                    text-align: center;
                    width: 100%;
                    height: 50%;
                    overflow: hidden;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                }
                .circle-bg {
                    stroke: var(--Negro);
                    stroke-width: 10;
                }
    
        .circle-progress,
        .circle-progress2 {
            stroke: var(--C700);
            stroke-width: 10;
            stroke-linecap: round;
            transition: stroke-dashoffset 5s ease-in-out;
        }

        .card-09{
            grid-column: 4 / 5;
            grid-row: 3 / 4;
        }
        .card-10{
            grid-column: 3 / 5;
            grid-row: 4 / 5;
            background-color: transparent;
            align-content: space-between;
            overflow: visible;
        }
        .img-card{
            padding: 0;
        }











@media(max-width:767px) {
    :root{  
       --Radio: 1.5rem;
       --RadioInner: 0.5rem;
       --Paddingo: 0.3rem;
    }
    .general--container {
        width: 100%;
        height: 100vh;
        padding: 0.5rem;
    }

    .general--section--container {
        width: 100%;
        height: 100%;
        aspect-ratio: none;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(12, 1fr);
        gap: 0.5rem;
    }
    .card--item{
        background-color: var(--C50);
        padding: var(--Paddingo);
        overflow: hidden;
        border-radius: var(--Radio);
        
    }

    .card-01 {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        background-color: transparent;
        align-content: space-between;
        overflow: hidden;
    }
        .count-start--item {
            width: 100%;
            height: 45%;
            overflow: hidden;
            gap: var(--Paddingo);
        }
            .separete--counter {
                height: 100%;
                padding: calc(var(--Paddingo) * 2);
                border-radius: var(--Radio);
                justify-content: space-between;
                flex-grow: 1;
            }

    .bottom--count-start {
        padding: calc(var(--Paddingo) * 2);
        border-radius: var(--Radio);
    }


    .card-02 {
        grid-column: 4 / 5;
        grid-row: 1 / 3;
    }

    .card-03 {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
        
    }
    
    .card--info {
        padding: 0;
    }
    .blur--info--container {
        padding: var(--Paddingo);
        height: 25%;
        aspect-ratio: auto;
        width: 100%;
        border-radius: 0rem !important;
        border-top-right-radius: var(--Radio)!important;
        border-top-left-radius: var(--Radio)!important;
    }

    .card-04 {
        grid-column: 1 / 3;
        grid-row: 3 / 6;
    }

    .card-041 {
        grid-column: 3 / 5;
        grid-row: 6 / 9;

        padding: 0;
        overflow: hidden;
        justify-content: space-between;
    }

    .item--hours {
        width: 100%;
        overflow: hidden;
        color: var(--C100);
        padding: var(--Paddingo);
        gap: var(--Paddingo);
    }

    .top--hours {
        aspect-ratio: auto;
        height: 30%;
        border-radius: 0rem !important;
        border-bottom-right-radius: var(--Radio)!important;
        border-bottom-left-radius: var(--Radio)!important;
        width: 100%;
        background-color: var(--C700);
        text-transform: capitalize;
    }

    .horas--container {
        margin-right: auto;
    }

    .bottom--hours {
        height: 70%;
        align-items: end;
    }

    .week--item {
        height: 80%;
        aspect-ratio: 1/2;
        border-radius: var(--Radio);
        padding: var(--Paddingo);
        overflow: hidden;
        justify-content: space-between;
        background-color: transparent;
        color: var(--C700);
        border: solid 1px var(--C700);
    }

    .num_week {
        border-radius: 50%;
        aspect-ratio: 1/1;
        width: 100%;
        background-color: var(--C100);
        color: var(--C700);
    }

    .week--item--active {
        height: 100%;
        background-color: var(--C700);
        color: var(--C100);
    }

    .week--item--active>.num_week {
        background-color: var(--C100);
        color: var(--C700);
    }

    .card-042 {
        grid-column: 1 / 2;
        grid-row: 9 / 11;;
    }

    .card-043 {
        grid-column: 3 / 5;
        grid-row: 3 / 6;
    }

    .card-05 {
        grid-column: 2 / 3;
        grid-row: 9 / 11;
    }

    .card-06 {
        grid-column: 1 / 3;
        grid-row: 6 / 9;
    }

    .card-07 {
        grid-column: 1 / 3;
        grid-row: 11 / 13;

    }

    .card-08 {
        grid-column: 4 / 5;
        grid-row: 9 / 11;
    }

        .circle--container {
            position: relative;
            padding: 0;
        }
        .absolute--pos{
            position: absolute;
            transform: none;
            transform: translateX(-50%);
            top: 50%;
            left: 50%;
        }
            .circle--container > svg {
                width: auto;
                height: 50%;
                top: 0%;
                aspect-ratio: 1/1;
            }
                .dias--restatntes{
                    text-align: center;
                    width: 100%;
                    height: 50%;
                    overflow: hidden;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                }

    .card-09 {
        grid-column: 3 / 4;
        grid-row: 9 / 11;
    }

    .card-10 {
        grid-column: 3 / 5;
        grid-row: 11 / 13;
        
        background-color: transparent;
        align-content: space-between;
        overflow: visible;
    }

    .img-card {
        padding: 0;
    }
}





  

@media(max-width:1440px){
    @media(max-width:1366px){
        :root{  
            --Radio: 2rem;
            --RadioInner: 1rem;
            --Paddingo: 0.5rem;
        }
    }
}
@media(max-width:1366px){
    :root{  
        --Radio: 1.5rem;
        --RadioInner: 0.5rem;
        --Paddingo: 0.3rem;
    }
}
@media(max-width:1080px){
    :root{  
        --Radio: 1.5rem;
        --RadioInner: 1rem;
        --Paddingo: 0.3rem;
    }
    .general--container{
        padding: 1rem;
    }
    .blur--info--container{
        padding: var(--Paddingo);
        justify-content: center;
        gap: var(--Paddingo);
        align-items: baseline;
    }
}
@media(max-width:1024px){
    :root{  
        --Radio: 1rem;
        --RadioInner: 0.5rem;
        --Paddingo: 0.3rem;
    }
    p{
        font-size: clamp(0.5rem, 0.3rem + 1vw, 0.8rem);
        margin: 0;
    }
    
    small{
        font-size: clamp(0.4rem, 0.3rem + 1vw, 0.7rem);
        font-weight: 400;
        margin: 0;
    }
    .general--container{
        padding: 1rem;
    }
    .blur--info--container{
        padding: 0;
        text-align: center;
        aspect-ratio: 8/2;
        width: 100%;
        justify-content: center;
        gap: 0;
        align-items: center;
        border-radius: 0rem !important;
        border-top-right-radius: var(--Radio)!important;
        border-top-left-radius: var(--Radio)!important;
    }

    .separete--counter{
        padding: calc(var(--Paddingo) + 0.2rem);
    }
    .bottom--count-start{
        padding: calc(var(--Paddingo) + 0.2rem);
        gap: var(--Paddingo);
    }

    .item--hours{
        padding: 0.2rem;
        gap: 4px;
    }
        .top--hours{
            aspect-ratio: 8/2;
            gap: 0;
            align-items: baseline;
            border-radius: 0rem !important;
            border-bottom-right-radius: var(--Radio)!important;
            border-bottom-left-radius: var(--Radio)!important;
        }
            .horas--container{
                gap: 2px;
                align-items: baseline;
            }
    .week--item{
        padding: 0.3rem;
    }
}

@media(max-width:960px){
    .general--container{
        padding: 0.5rem;
    }
}